#box {
  background-color: #654995;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  border: solid 8px #ffdc00;
  border-radius: 20px;
}
img {
  height:inherit;
  width: 200px;
  border: solid 8px #ffdc00;
  border-radius: 20px;
}
h1 {
  font-family: 'Lydian', sans-serif;
  font-size: 50px;
}
h2 {
  font-family: 'Lydian', sans-serif;
  font-size: 40px;
  }
h3 {
  font-family: 'Lydian', sans-serif;
  font-size: 25px;
  color: #42a2d6;
    }
h4 {
  font-family: 'Lydian', sans-serif;
  font-size: 25px;
    }
p {
  font-family: 'Lydian', sans-serif;
  font-size: 40px;
}
button{
  color: white;
  background-color: #ff4238;
  border: solid 2px #9a0006;
  border-radius: 30px;
  padding: 5px;
  font-family: 'Lydian', sans-serif;
  font-size:20px;
}
#input{
  font-family: 'Lydian', sans-serif;
  font-size: 15px;
  color: #42a2d6;
}
#output{
  font-family: 'Lydian', sans-serif;
  font-size: 30px;
  padding: 30px;
  font-style: italic;
}
