
#box{
  background-color: pink;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 75px;
  padding-right: 75px;
  width: inherit;
  border: solid 10px hotpink;
  font-family: "Trirong", serif;

}
#output {
  height: 800px;
  border: solid 2px hotpink;
}

button{
  background-color: hotpink;
  color:white;
  border-radius: 5px;
  border-color: hotpink;
}
